*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color:  #f2f5f7;
    overflow-x: hidden;
}

header{
    background-color: #fff;
}

main, footer{
    width: 60%;
    margin: 20px auto;
}

h1{
    width: 60%;
    display: flex;
    justify-self: flex-start;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px;
}

h2, h3{
    padding: 20px 0px;
}

ul{
    list-style-type: none;
}

li{
    margin: 10px;
}

img{
    width: 15px;
    height: 15px;
    margin: 0 7px;
}

/* list-style-image: url("../../media/examples/rocket.svg"); */

#reussite, #vivre, #covid, #fun{
    background-color: #fff;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1)
}

#presentation{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 40px 0px;
}

#charte-container{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#presentation a{
    text-decoration: none;
    color: #fff;
    height: 10%;
    background-color: #CE0033;
    padding: 15px 30px;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 10px;
}

#charte-container p{
    width: 100%;
}

.liste{
    font-size: x-small;
    font-weight: 100;
    cursor: pointer;
}

footer{
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
}

pre{
    background-color: #f1f1f1;
    overflow-x: hidden  ;
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

code{
    font-size: smaller;
}

footer button{
    width: 30%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-self: center;
    font-weight: bolder;
    border-style: none;
    border: 1px solid grey;
    padding: 10px 15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#reussite ul, #vivre ul, #covid ul, #fun ul{
    display: none;
}

/*Media querries pour la version mobile*/


@media screen and (max-width: 500px){

    h1{
        font-size: 20px;
        font-weight: 100;
    }
    
    #presentation{
        flex-wrap: wrap;
        margin: 20px 0px;
    }

    #presentation a{
        margin: 20px auto;
    }

    #charte-container{
        width: 100%;
    }

    #charte-container p{
        font-size: smaller;
        margin: 10px 0px;
    }

    h2{
        font-size: 20px;
        font-weight: lighter;
    }

    footer button{
        width: 50%;
        font-size: 9px;
        padding: 10px 15px;
    }
}